* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 6.25%;
}

body {
    font-family: 'Noto Serif', sans-serif;
    background: radial-gradient( #997b58, #c9bb91);
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 26rem;
    font-weight: 900;
    margin: 10rem;
    
}

h2 {
    font-size: 18rem;
    font-weight: 600;
    margin: 10rem;
}

p {
    text-align: justify;
    margin: 12rem;
}

.content ul {
    list-style: none;
    padding: 0;
    margin: 5rem auto;
}

a:link {
    color: rgb(255, 145, 0);
}

a:visited{
  color: rgb(255, 118, 76);
}

#card #header img {
    max-width: 150rem;
    border-radius: 50rem;
    border: 7rem outset #c9bb91;
}

#card {
    display: grid;
    place-items: center;
    background: #967d48;
    color: aliceblue;

    width: 90%;
    height: 90vh;

    margin: 0 auto;
    margin-top: 25rem;
    padding: 30rem;
    overflow: auto;

    font-size: 15rem;
    font-weight: 500;
    border: 7rem outset #9c5a2e;
    border-radius: 10rem;

    box-shadow: 8rem 8rem 3rem 2rem rgba(0, 0, 0, 0.521);
}

header {
    display: grid;
    place-items: center;
}

main {
    width: 100%;
    max-width: 400rem;
    margin-top: 30rem;
}

.content {
    display: grid;
    place-items: center;
    text-align: left;

    background: #744236;
    color: #ffffff;

    border-radius: 15rem;
    border: 7rem inset #9c5a2e;
    box-shadow: inset 6rem 3rem 2rem rgba(0, 0, 0, 47%);
    margin-bottom: 18rem;
}

.content ul li {
    display: block;
    background: #af6856bd;
    color: #ffffff;
    font-weight: 500;
    border-left: 5rem solid #ffae00;
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    margin-bottom: 7rem;
    transition: 0.3s;
    box-shadow: 3rem 2rem rgba(0, 0, 0, 47%);
}

.content ul li button{
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.content ul li button a:hover{
    color: #750000c7;
}

.content ul li:hover {
    transform: scale(1.05);
    animation-name: colorFill;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

@keyframes colorFill {
    0%{
        background: #af6856bd;
    }
    100%{
        background: #ffae00;
    }
}

@media (min-width: 780px) {
    #card {
        width: 45%;
    }
}