:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

main{
    padding: 13.2rem 0 3.2rem;
}

.post-content img {
    max-width: 100%;
}

h1 {
    font-size: 3.2rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

ol,
ul {
    padding-left: 3rem;
}

a {
    color: #00ffff;
    text-decoration: none;
}

p {
    text-align: justify;
    text-indent: 3rem;
}

li {
    padding-bottom: 0.8rem;
}

.badge {
    display: inline-block;
    background-color: #bbbbbb;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

pre {
    display: block;
    background-color: #bbbbbb;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 0 1.6rem;
}

.post {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
    background: #dddddd;
    padding: 1.6rem;
    margin-bottom: 3.2rem;
    border: 0.2rem solid #000000;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.post section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

header#header {
    background-color: #1865ff;
    color: #ffffff;
    padding: 1.6rem 3.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
}

header p {
    text-indent: 0;
    margin: 0;
}

#menu {
    background-color: #4684ff;
    color: #ffffff;
    padding: 1.6rem 1.6rem 0.8rem;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 10rem;
    bottom: 0;
    left: -110%;
    transition: 0.3s;

    display: flex;
}
#menu.active {
    left: 0;
}

#menu a {
    color: #ffffff;
}

#menu nav {
    height: 100%;
    width: 100%;
    display: flex;
}

#menu nav ul {
    list-style: none;
    padding: 0;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 80%;
    margin: 0 auto;
}

#menu nav ul li{
    flex: 1;
    display: flex;
}

#menu nav ul a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 3.2rem;
}

#menu nav ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 0.2rem;
    background: #ffffff;
    transition: 0.3s;
}

#menu nav ul a:hover {
    opacity: 1;
}

#menu nav ul a:hover::before {
    left: 0%;
}

.menu-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    border: 0;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
}

.menu-button div{
    height: 0.5rem;
    width: 3.2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: relative;
    transition: 0.3s;
    opacity: 0.7;
}

.menu-button div::before {
    content: '';
    height: 0.5rem;
    width: 3.2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    top: -1rem;
    transition: 0.3s;
}

.menu-button div::after {
    content: '';
    height: 0.5rem;
    width: 32px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu-button:hover div {
    opacity: 1;
}

.menu-button.active div {
    transform: rotate(-45deg);
}

.menu-button.active div::before {
    left: 0;
    top: 0;
    transform: rotate(90deg);
}

.menu-button.active div::after {
    left: 0;
    bottom: 0;
    transform: rotate(-90deg);
}

@media (min-width: 600px) {
    .menu-button {
        display: none;
    }

    #menu {
        left: 0;
        width: 20rem;
    }

    #menu nav ul {
        justify-content: flex-start;
        gap: 16px;
    }

    #menu nav ul li{
        max-height: fit-content;
    }

    #menu nav ul a {
        font-size: 1.6rem;
        height: fit-content;
    }

    main {
        padding: 13.2rem 0 3.2rem 20rem;
    }
}